@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.container{
 
  display :flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.container-table{
 
  display :flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 170px;
  padding-right: 80px;

}
.container-data{
  display :flex;
  width: 600px;
  margin-top: 40px;
  margin-left: 270px;
  background: #ffffff;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  justify-content: center;
  flex-direction: column;

}
.container-inner{
  
  width: 500px;
  margin-top: 40px;
  margin-left: 270px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.statutInner{
  
  width: 600px;
  margin-top: 40px;
  margin-left: 270px;
  background: #fcb33a;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.container .form-control-app:focus {
  border-color: #167bff;
  box-shadow: none;
}
.form-control-app{
  border :none;
  border-bottom: 2px solid black;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.container h3{
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #232C59;
}
.accueil{
  position: absolute;
  
  background-size: cover;
  height: 100%;
  width: 100%;
  background-clip: content-box;
  z-index: -5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.application{
  position: absolute;
 
  background-size: cover;

  background-clip: content-box;
  z-index: -5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.started{
  color: #f6ada0;
  margin-top: 30px;
  margin-left: 320px;
  
}
.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background:#232C59;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.buttonDetail{
 
  margin-left: 130px;
}
.containerDetail{
 width: 800px;
 margin-left: 270px;
}
.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.popupinner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}
.my-container{
  background-image: url('./Assets/bgg.jpg');
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-clip: content-box;
  z-index: -5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.AUP{
  text-align: center;
  color:#212b5c;
  font-size: 60px;
  margin-top:40px;
  font-weight: 600;
  font-family: 'Futura-Bold', sans-serif;
  
}
@-webkit-keyframes mover1 {
  0% { transform: translateX(0); }
  100% { transform: translateX(30px); }
}
 @keyframes mover1 {
  0% { transform: translateX(0); }
  100% { transform: translateX(30px); }
}
@-webkit-keyframes mover2 {
  0% { transform: translateX(30); }
  100% { transform: translateX(60px); }
}
 @keyframes mover2 {
  0% { transform: translateX(30); }
  100% { transform: translateX(60px); }
}
@-webkit-keyframes mover3 {
  0% { transform: translateX(20); }
  100% { transform: translateX(30px); }
}
 @keyframes mover3 {
  0% { transform: translateX(20); }
  100% { transform: translateX(30px); }
}
@-webkit-keyframes mover4 {
  0% { transform: translateY(20px); }
  100% { transform: translateY(-10px); }
}
 @keyframes mover4 {
  0% { transform: translateY(20px); }
  100% { transform: translateY(-10px); }
}


.logomov{
overflow: auto;
zoom: 1;
}
.nuage1{
  height: 100px;
  margin-top:60px ;
  margin-left: 60px;
  -webkit-animation: mover1 1s infinite  alternate;
  animation: mover1 1s infinite  alternate;

}
.nuage2{
  height: 55px;
  margin-top: 160px ;
  margin-left: 5px;
  
}
.nuage3{
  height: 100px;
  margin-top:60px ;
  margin-left: 60px;
  -webkit-animation: mover1 1s infinite  alternate;
  animation: mover1 1s infinite  alternate;
  
}
.nuage4{
  height: 55px;
  margin-top: 160px ;
  margin-left: 130px;
  
}
.nuage5{
  height: 35px;
  margin-top: 30px ;
  margin-left: 480px;
 
}
.nuage6{
  height: 35px;
  margin-top: 30px ;
  margin-left: 120px;
 
}
.logoAUP{
  height: 90px;
  width: 97px;
  margin-left: 640px;
  margin-top: 220px;
  -webkit-animation: mover4 1s infinite  alternate;
  animation: mover4 1s infinite  alternate;
}

.btn-ripple {
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: all ease-in-out .5s;
}

.btn-ripple::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 25%;
	height: 100%;
	width: 50%;
	background-color: #000;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	transition: all ease-in-out 1s;
	transform: scale(5, 5);
}

.btn-ripple:active::after {
	padding: 0;
	margin: 0;
	opacity: .2;
	transition: 0s;
	transform: scale(0, 0);
}
.register{
  background-color: #4f7bc2;
  margin-top: 100px;
  margin-left: 50px;

}
.login{

  margin-top: 100px;
  margin-left: 620px;
  position: absolute;

}